<?xml version="1.0"?>
<launch>

  <rosparam param="/vive_pose_converter/x_min">-0.3</rosparam>
  <rosparam param="/vive_pose_converter/x_max">0.4</rosparam>
  <rosparam param="/vive_pose_converter/y_min">-0.2</rosparam>
  <rosparam param="/vive_pose_converter/y_max">0.2</rosparam>
  <rosparam param="/vive_pose_converter/z_min">-0.15</rosparam>
  <rosparam param="/vive_pose_converter/z_max">0.3</rosparam>
  <rosparam param="/vive_pose_converter/max_vel">1</rosparam>
  <rosparam param="/vive_pose_converter/scale_factor">1</rosparam>

  <node name="vive_pose_converter_node" pkg="sven_ros" type="vive_pose_converter_node2.py" output="screen" required="true">
  	<remap from="/vive_pose_converter/pose" to="/equilibrium_pose"/>
  	<remap from="/vive/pose1" to="/vive/pose3"/>
  	<remap from="/vive/controller_LHR_FF6FDF46/joy" to="/vive/controller_LHR_A4838FE5/joy"/>
  </node>

</launch>

